body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F3F4F6;
    color: #000000;
    min-height: 100vh;
}

/* === Ajuste para React: Wrapper da página de Login === */
.page-login-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: linear-gradient(to right, #0e529b, #071019);
    min-height: 100vh;
    position: relative;
}

.page-login-wrapper .brand-logo {
    filter: brightness(0) invert(1);
    width: 130px;
    height: auto;
}
.page-login-wrapper .brand {
    font-weight: 400;
}

.container { padding: 30px; }

.container.narrow { 
    margin: 0;
    position: absolute;
    left: initial;
    transform: initial;
    top: 100px;
    max-width: initial;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-column: 1/2;

}
.container.grid { display: grid; grid-template-columns: 1fr 1fr; gap: 30px; }

.image-half {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 2/3;
}
.right-half-image {
    max-width: 100%;
    height: auto;
    animation: imagePop 10s infinite ease-in-out;
}

@keyframes imagePop {
    0%, 100% {
        transform: scale(1);
    }
    
    50% {
        transform: scale(1.2);
    }
}

.login-card {
    background: linear-gradient(45deg, #0D1A23, #08203A);
    padding: 20px;
    margin-top: 50px;
    margin-left: 50px;
    border-radius: 8px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 1);
    height: 300px;
    width: 500px;
}

.login-form-grid {
    display: grid; grid-template-columns: 1fr; gap: 15px; margin-bottom: 20px;
}
.login-form-grid label {
    display: block; font-size: .9rem; font-weight: 500; margin-bottom: 5px; color: #ffffff;
}
.login-form-grid input, .login-form-grid select, .login-form-grid textarea {
    display: block; width: 70%; padding: 10px; border: 1px solid #0F2B4B; border-radius: 4px; box-sizing: border-box; background-color: #DDDDDD;
    color: #0D1A23; margin-bottom: 15px; margin-left: auto; margin-right: auto;
}

.login-form-grid input::placeholder,
.login-form-grid textarea::placeholder {
    color: #0D1A23;
    opacity: 1;
}

.login-btn {
    display: block; width: 70%; padding: 8px 15px; border: none; border-radius: 6px; cursor: pointer; font-weight: 500;
    transition: background-color 0.5s; font-size: .9rem; margin-top: 15px; margin-left: auto; margin-right: auto;
}
.login-btn.primary { background-color: #1E4497; color: #FFFFFF; }
.login-btn.primary:hover { background-color: #3E2874; }
.login-btn.danger { background-color: #1E3A8A; color: #FFFFFF; }


.login-section-title {
    font-size: 1.4rem; font-weight: 600; margin-top: 10px; margin-bottom: 50px;
    padding-bottom: 30px; border-bottom: 1px solid #f3f4f6;
    color: #A8DADC; text-align: center;
}